#wrapper {
  text-align: center;
  background-color: white;
  
}

h1 {
  color:white;
  margin:30px;
}


#quote-box {
  border-radius: 3px;
    position: relative;
    //margin:8% auto auto auto;
    width: 450px;
    padding: 40px 50px;
    display: table;
    background-color: #fff;
}

.quote-text {
  text-align: center;
    width: 500px;
    height: auto;
    clear: both;
    font-weight: 400;
    font-size: 1.75em;
}

.quote-text > i {
  font-size: 1em;
  margin-right: 0.4em;
}

.quote-author {
  width: 500px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}

.twitter {
  float: left;
  padding: 15px;
  margin-top: 3rem;
}
.twitter > i {
  color: #fff;
  font-size: 1.5em;
}

.button {
  float: right;
  padding: 15px;
  margin-top: 3rem;
  font-size: 1em;
  cursor: pointer;
}

#new {
  color: #fff;
}